.app{
  text-align: center;
}

.title{
  width: 800px;
  height: 1px;
  margin: auto;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 300px;
  background-image: url(./images/logo.png);
}


/*CARD*/
.material-icons{
  background-color: #b34b6c;
}

.card-title{
  font-size: 12px;
  font-weight: 100;
}

.card-content{
  font-size: 24px;
  font-weight: 300;
}



